# Dozzle - Environment Variables

# Static IP address
STATIC_IP=192.168.62.31

# Image tag
DOZZLE_TAG=v8.12.8

# Domain for Traefik routing
DOZZLE_DOMAIN=dozzle.lab.kemo.network

# Dozzle settings
DOZZLE_LEVEL=info
DOZZLE_TAILSIZE=300
DOZZLE_ENABLE_ACTIONS=false
