[Unit]
Description=Vault Unseal Service
After=caas-vault.service
Requires=caas-vault.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/workdir/caas/vault/unseal.sh

[Install]
WantedBy=multi-user.target
