[Unit]
Description=Vault Unseal Service
After=caas-vault.container
Requires=caas-vault.container

[Service]
Type=oneshot
ExecStart=/opt/workdir/caas/vault/unseal.sh

[Install]
WantedBy=multi-user.target
