TZ=America/New_York
VIRTUAL_HOST=pihole
TEMPERATUREUNIT=f
ADMIN_EMAIL=ken@kenmoini.com
FTLCONF_dns_upstreams=208.67.220.220;208.67.222.222
# PIHOLE_UID=0
# DNSMASQ_USER=pihole
ServerIP=192.168.42.4

# Pi-hole admin web UI password
FTLCONF_webserver_api_password=changeme