# AutoKuma
AUTOKUMA__DOCKER__ENABLED=true
AUTOKUMA__DOCKER__HOSTS=tcp://podman-proxy:2375
AUTOKUMA__KUMA__URL=http://uptime-kuma:3001
AUTOKUMA__KUMA__USERNAME=<username>
AUTOKUMA__KUMA__PASSWORD=<password>
