# PikaPKI Configuration
PIKA_PKI_DIR=/data
PIKA_PKI_DEFAULT_ORG=Kemo Labs
PIKA_PKI_DEFAULT_ORGUNIT=Infrastructure
PIKA_PKI_DEFAULT_COUNTRY=US
PIKA_PKI_DEFAULT_STATE=North Carolina
PIKA_PKI_DEFAULT_LOCALITY=Raleigh
PIKA_PKI_DEFAULT_EMAIL=ken@kenmoini.com
PIKA_PKI_DEFAULT_CA_URI_BASE=http://pki.lab.kemo.dev/public
TERM=xterm-256color
