# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.
# Do this with `uuidgen | tr '[:upper:]' '[:lower:]'`
PAPERLESS_SECRET_KEY=change-me

PAPERLESS_URL=https://paperless.apps.lab.kemo.dev

# Timezone
TZ=America/New_York
PAPERLESS_TIME_ZONE=America/New_York

# The default language to use for OCR. Set this to the language most of your
# documents are written in.
PAPERLESS_OCR_LANGUAGE=eng

# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
USERMAP_UID=1000
USERMAP_GID=1000

PAPERLESS_REDIS=redis://paperless-redis:6379

PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_ENDPOINT=http://paperless-tika:9998
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://paperless-gotenberg:3000